@import "../../utils/scss/variable";
.navbar {
  display: flex;
  height: 50px;
  background-color: white;
  align-items: center;
  &__logo {
    height: 40px;
    margin-left: 15px;
  }
  &__header {
    align-items: start;
    margin-left: 20px;
    margin-right: auto;
  }
  &__login {
  }
  &__registration {
    margin: 0 15px;
  }
}
